.selected { 
    border-color: orange;
    opacity: 0.5;
}

.piwigo-text {
    color: #2B6FB6;
}

.media-text {
    color: orange;
}

.pointer {
    cursor: pointer;
}

.operations-panel {
    padding: 10px;
    text-align: center;
}

.footer {
    padding: 15px;
}


.text-right {
    text-align: right;
}

.italic-text {
    font-style: italic;
}

.grid-container {
    margin: 0 50px;
}

.loader {
    padding: 15px;
}
